<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>BaseViewController</string>
	<string>EarningsCalculationViewController</string>
	<string>MessageCenterViewController</string>
	<string>MyTradingViewController</string>
	<string>BillManagementViewController</string>
	<string>BaseViewController</string>
	<string>MyBookingViewController</string>
	<string>BaseViewController</string>
	<string>ChangePasswordViewController</string>
</array>
</plist>
